%%-*- mode: erlang -*-
{erl_opts, [debug_info]}.
{cover_enabled, true}.
{cover_print_enabled, true}.

{sub_dirs, [
            "rel"
           ]}.

{deps, [
		{uuid, ".*", {git, "git://github.com/travis/erlang-uuid", master}},
        {ezk, "1.0.*", {git, "git://github.com/infinipool/ezk", master}}
       ]}.
